__backup/
.idea/
.well-known/
admin/
cgi-bin/
system/
image/

.htaccess.txt
config.php
admin/config.php

.htaccess-namecheap.txt
config-namecheap.php
admin/config-namecheap.php

index.php
php.ini

dev/

