@mixin base($bg, $text) {
    background-color: $bg;
    color: $text;
    padding: 0.5rem 0.5rem;
    border-style: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

@mixin active($bg-color, $text-color, $cursor-type) {
    &.active {
        background-color: $bg-color;
        color: $text-color;
        cursor: $cursor-type;
    }
}

@mixin hover($bg-color, $text-color) {
    &:hover {
        background-color: $bg-color;
        color: $text-color;
    }
}