#checkout-checkout .panel-group {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  #checkout-checkout .panel-group {
    width: calc(100vw - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
#checkout-checkout .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#checkout-checkout textarea {
  max-width: 35rem;
}
#checkout-checkout .col-sm-6 {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  #checkout-checkout .col-sm-6 {
    min-width: 28rem;
  }
}
#checkout-checkout .buttons {
  margin: 1rem;
}
#checkout-checkout .buttons a.agree {
  padding: 0;
}
#checkout-checkout .form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#checkout-checkout label {
  width: 10rem;
  text-align: right;
  padding: 0;
  margin: 0;
}
#checkout-checkout input, #checkout-checkout select {
  width: calc(100% - 7rem);
  max-width: 35rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
#checkout-checkout input[type=checkbox], #checkout-checkout input[type=radio] {
  width: 1.5rem;
  height: 1.5rem;
  top: calc(1.5rem * 0.25);
}