#checkout-checkout #content .panel-group .panel:first-child {
  display: none;
}
#checkout-checkout #button-guest,
#checkout-checkout #button-guest-shipping,
#checkout-checkout #button-shipping-method,
#checkout-checkout #button-payment-method {
  display: none;
}
#checkout-checkout .panel-body .row {
  display: flex;
  flex-direction: column;
}
#checkout-checkout .form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#checkout-checkout table {
  margin-left: 0rem;
}
#checkout-checkout input[type=submit] {
  width: 20rem;
  margin-left: 0;
  padding: 1rem;
  background-color: #0AB02A;
  border-bottom: 0.3rem solid #068D20;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
  color: white;
}
#checkout-checkout input[type=submit]:hover {
  background-color: #068D20;
}
#checkout-checkout label {
  width: 10rem;
  text-align: right;
  padding: 0;
  margin: 0;
}
#checkout-checkout input, #checkout-checkout select {
  width: calc(100% - 7rem);
  max-width: 35rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
#checkout-checkout input[type=button].btn.btn-primary {
  width: 12rem;
}
#checkout-checkout input[type=checkbox], #checkout-checkout input[type=radio] {
  width: 1.5rem;
  height: 1.5rem;
  top: calc(1.5rem * 0.25);
}
#checkout-checkout .col-sm-6 {
  margin: 0;
}
#checkout-checkout .col-sm-10 {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
  width: calc(100% - 7rem);
  max-width: 35rem;
}
#checkout-checkout .col-sm-10 input, #checkout-checkout .col-sm-10 select {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}