#checkout-checkout .panel-group {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  #checkout-checkout .panel-group {
    width: calc(100vw - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
#checkout-checkout .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#checkout-checkout textarea {
  max-width: 35rem;
}
#checkout-checkout .col-sm-6 {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  #checkout-checkout .col-sm-6 {
    min-width: 28rem;
  }
}
#checkout-checkout .buttons {
  margin: 1rem;
}
#checkout-checkout .buttons a.agree {
  padding: 0;
}
#checkout-checkout .form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#checkout-checkout label {
  text-align: right;
  padding: 0;
  margin: 0;
  flex-basis: 20%;
}
#checkout-checkout input, #checkout-checkout select {
  max-width: 35rem;
  margin-right: 1rem;
  margin-left: 1rem;
  flex-basis: 64%;
}
#checkout-checkout input[type=checkbox], #checkout-checkout input[type=radio] {
  width: 1.5rem;
  height: 1.5rem;
  top: calc(1.5rem * 0.25);
}
#checkout-checkout input[type=submit] {
  width: fit-content;
}
#checkout-checkout div.checkbox {
  text-align: center;
}
#checkout-checkout .text-danger {
  position: relative;
  top: -0.4rem;
  flex-basis: 100%;
  text-align: right;
  line-height: 1rem;
  margin-right: 1rem;
  font-size: 0.9rem;
}
#checkout-checkout .text-left {
  text-align: left;
}
#checkout-checkout .text-right {
  text-align: right;
}
#checkout-checkout .table-responsive {
  overflow-x: auto;
  width: 100%;
}
#checkout-checkout table {
  width: 100%;
  min-width: 800px;
  margin: 0;
  border-collapse: collapse;
  height: 100%;
  border-spacing: 0rem;
  box-shadow: none;
}
#checkout-checkout table thead, #checkout-checkout table th {
  display: table-header-group;
}
#checkout-checkout table tr {
  display: table-row;
  background-color: transparent;
}
#checkout-checkout table td {
  display: table-cell;
  background-color: transparent;
  font-weight: normal;
  padding: 1.5rem;
  box-shadow: none;
  border: none;
}
#checkout-checkout table td a {
  color: #10b1e8;
}
#checkout-checkout table td a:hover {
  color: #93daf3;
}
#checkout-checkout table td:first-child {
  min-width: 20rem;
}
#checkout-checkout table td:last-child {
  margin-bottom: 0rem;
  border-bottom: none;
}
#checkout-checkout table tr:last-child td {
  border-bottom: 1px solid #93daf3;
}
#checkout-checkout table thead tr td {
  font-weight: bold;
}