@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

.fas.fa-sign-in-alt {
  padding: 0.5rem;
}

body {
  background-color: #f6f6f6;
  font-family: "Fira Sans", sans-serif;
}

a {
  padding: 0rem 1rem;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #10b1e8;
}

li {
  list-style: none;
}

.container {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .container {
    width: calc(1300px - 30vw);
  }
}
@media (min-width: 1330px) {
  .container {
    width: calc(1500px - 30vw);
  }
}
@media (min-width: 1500px) {
  .container {
    width: 70vw;
  }
}
.row,
.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-center {
  align-items: center;
  height: 6rem;
}

.col-18per {
  text-align: left;
  flex: 18% 0 auto;
  padding: 2rem 1rem;
}

.col-28per {
  flex: 28% 0 auto;
  padding: 1rem 1rem;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

footer {
  background-color: #aaa;
  flex-shrink: 0;
  min-height: 22rem;
  width: 100vw;
}
footer .footer-behav {
  display: none;
  flex-direction: column;
}
footer h2, footer h3, footer h4, footer h5 {
  padding: 0.5rem 1rem 0.5rem 0rem;
  font-weight: 700;
  text-transform: uppercase;
}
footer p {
  padding: 0.2rem 1rem 0.2rem 0rem;
}
footer a {
  padding: 0;
  margin: 0;
}
footer li {
  padding: 0.2rem 0rem;
}
footer li a {
  padding: 0;
  font-size: 0.9rem;
  font-weight: 400;
}
footer h3.feedback {
  text-decoration: underline dashed black;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  cursor: pointer;
}
footer .supserv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer hr {
  border-top: 1px solid black;
  border-bottom: 0px solid transparent;
}
footer .fa.fa-phone-square {
  margin-right: 1rem;
}
footer img {
  position: relative;
  width: 3.4rem;
  height: 3.4rem;
  min-width: 3.4rem;
  min-height: 3.4rem;
}
footer .row-center img {
  display: none;
}
footer .row-center i {
  display: none;
}
footer .row-center p, footer .row-center a {
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  footer .footer-behav {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1150px) {
  footer .footer-behav {
    display: flex;
    flex-direction: row;
  }
  footer .row-center img {
    display: inline-block;
  }
  footer .row-center i {
    display: inline-block;
  }
  footer .row-center div {
    display: flex;
    align-items: center;
  }
  footer .row-center div > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
header {
  background-color: white;
  color: black;
  width: 100vw;
  height: 3.2rem;
}

.header-top {
  height: 3.2rem;
  display: none;
  border-bottom: 1px solid #eee;
}
.header-top h1 {
  padding: 0rem 2rem;
}
.header-top .main-nav {
  --menu-height: 3rem;
}
.header-top .main-nav ul {
  list-style: none;
  z-index: 10;
}
.header-top .main-nav ul li, .header-top .main-nav ul li a {
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.header-top .main-nav ul li {
  padding-left: 1rem;
  padding-right: 1.5rem;
}
.header-top .main-nav ul li span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: black transparent transparent transparent;
  border-width: 0.3rem 0.3rem 0px 0.3rem;
  transition: transform 0.5s ease-out;
}
.header-top .main-nav ul li:hover > a {
  color: #10b1e8;
}
.header-top .main-nav > ul {
  height: var(--menu-height);
  padding-right: 2rem;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.header-top .main-nav > ul li {
  position: relative;
  padding-right: 2rem;
}
.header-top .main-nav > ul li ul {
  position: absolute;
  visibility: hidden;
  min-width: 10rem;
  background-color: #FFFFFF;
  top: 100%;
  opacity: 0.2;
  transition: all 300ms ease-in-out;
}
.header-top .main-nav > ul li ul li {
  padding: 0.5rem 3rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-top .main-nav > ul li ul li span {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: black transparent transparent transparent;
  border-width: 0.3rem 0.3rem 0px 0.3rem;
  transition: transform 0.5s ease-out;
}
.header-top .main-nav > ul li ul li ul {
  top: 0%;
  left: 100%;
  transform: translateX(0);
}
.header-top .main-nav > ul li.active > span {
  transform: rotateZ(-90deg);
}
.header-top .main-nav > ul li.active > ul {
  opacity: 1;
  visibility: visible;
  transition-delay: 0ms;
  box-shadow: 0px 2px 8px 0px #00000022;
}
.header-top .main-nav > ul > li {
  height: var(--menu-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
}
.header-top .main-nav > ul > li.active > span {
  transform: rotateZ(-180deg);
}
.header-top .main-nav > ul > li.active > ul {
  opacity: 1;
  visibility: visible;
  transition-delay: 0ms;
  box-shadow: 0px 2px 8px 0px #00000022;
}
.header-top #form-language .lang {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header-top #form-language .lang .lang-btn {
  background-color: transparent;
  color: #aaa;
  padding: 0.5rem 0.5rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
  height: 100%;
}
.header-top #form-language .lang .lang-btn.active {
  background-color: #93daf3;
  color: #10b1e8;
  cursor: text;
}
.header-top #form-language .lang .lang-btn:focus {
  outline: none;
}

.header-bottom {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: center;
}
.header-bottom .main-menu-btn {
  position: relative;
  background-color: #93daf3;
  color: white;
  padding: 0.5rem 0.5rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
  width: 14rem;
  height: 2.6rem;
  margin-left: 1rem;
  outline: none;
}
.header-bottom .main-menu-btn:hover {
  background-color: #10b1e8;
  color: white;
}
.header-bottom .main-menu-btn.active > .burger {
  transform: rotate(360deg);
  width: 2rem;
}
.header-bottom .main-menu-btn.active > .burger::before, .header-bottom .main-menu-btn.active > .burger::after {
  width: 2rem;
}
.header-bottom .main-menu-btn.active > span {
  font-size: 1.1em;
}
.header-bottom .main-menu-btn .burger {
  position: absolute;
  background-color: white;
  left: 1rem;
  top: 1.2rem;
  width: 1.3rem;
  height: 0.2rem;
  transition: all 0.5s ease-out;
}
.header-bottom .main-menu-btn .burger::before {
  content: "";
  position: absolute;
  background-color: white;
  left: 0rem;
  top: -0.4rem;
  width: 1.3rem;
  height: 0.2rem;
  transition: all 0.5s ease-out;
}
.header-bottom .main-menu-btn .burger::after {
  content: "";
  position: absolute;
  background-color: white;
  left: 0rem;
  top: 0.4rem;
  width: 1.3rem;
  height: 0.2rem;
  transition: all 0.5s ease-out;
}
.header-bottom .main-menu-btn span {
  padding-left: 2rem;
  transition: all 0.5s ease-out;
}
.header-bottom #search {
  width: calc(100% - 22rem);
  height: 3.2rem;
  margin: 0.3rem 1rem;
}
.header-bottom #search .main-search-input {
  margin: 0.3rem 0rem;
  background-color: aqua;
  padding-left: 1rem;
  padding-right: 2rem;
  background-color: #eee;
  color: #aaa;
  height: 2.6rem;
  width: 100%;
  border: none;
  outline: none;
  transition: all 0.5s ease-out;
}
.header-bottom #search .main-search-input:focus {
  font-size: 1.1rem;
}
.header-bottom #search .main-search-submit {
  position: absolute;
  padding: 0px;
  width: 40px;
  height: 40px;
  margin-left: -40px;
  margin-top: 0.3rem;
  background-color: transparent;
  background-image: url(../image/common-header-search-icon.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}
.header-bottom .callback-wrap {
  position: relative;
  display: none;
}
.header-bottom .callback-wrap .callback-out {
  background-color: white;
  display: none;
  position: absolute;
  left: -2rem;
  top: -1rem;
  padding: 1rem 2rem;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 2px 2px 10px #00000033;
  z-index: 2;
  cursor: pointer;
}
.header-bottom .callback-wrap h4 {
  font-size: 1.2rem;
}
.header-bottom .callback-wrap .callback-icon {
  height: 0.6rem;
  width: 0.6rem;
}
.header-bottom .callback-wrap a {
  color: #10b1e8;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0rem 0rem;
  margin-bottom: 0.2rem;
}
.header-bottom .callback-wrap a:hover {
  color: #93daf3;
}
.header-bottom .header-wrapbox {
  color: #10b1e8;
  cursor: pointer;
  display: none;
}
.header-bottom .header-wrapbox div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-bottom .header-wrapbox div i {
  width: 1.2rem;
  line-height: 1.5rem;
}
.header-bottom .header-wrapbox div span {
  color: #aaa;
  padding: 0rem 0.2rem;
  line-height: 1.5rem;
}
.header-bottom .header-wrapbox a {
  text-decoration: none;
  padding: 0rem 0.2rem;
  font-size: 0.6rem;
  line-height: 1.3rem;
}
.header-bottom .cart {
  color: #10b1e8;
  position: relative;
  width: 4rem;
  height: 100%;
  margin-top: 1rem;
  margin-right: 1rem;
}
.header-bottom .cart .circle {
  position: absolute;
  background-color: #aaa;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.4rem;
  right: 0rem;
  border-radius: 50%;
}
.header-bottom .cart .circle p {
  color: white;
  text-align: center;
  display: table-cell;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.2rem;
  vertical-align: middle;
}
.header-bottom .cart a i {
  color: #10b1e8;
}

@media (min-width: 1330px) {
  header {
    height: 6.4rem;
  }
  header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header-bottom {
    justify-content: space-between;
  }
  header .header-bottom .main-menu-btn {
    margin-top: 0rem;
    margin-left: 0rem;
  }
  header .header-bottom #search {
    width: 22rem;
  }
  header .header-bottom #search .main-search-input {
    width: 22rem;
  }
  header .header-bottom .callback-wrap {
    display: inline-block;
  }
  header .header-bottom .header-wrapbox {
    display: inline-block;
  }
  header .header-bottom .cart {
    margin-top: 1rem;
  }
}