@use 'var';

.breadcrumb {
	padding: 0.5rem 0rem;
	border-bottom: 1px solid var.$color-lightfill;
    i {
        font-size: 1rem;
    }

    > li {
        //text-shadow: 0 1px 0 #FFF;
        padding: 0 1rem;
        position: relative;
        display: inline;
        white-space: nowrap;

        // + li:before {
        //     content: '';
        //     padding: 0;
        // }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0.3rem;
            right: -0.3rem;
            width: 0.4rem;
            height: 0.4rem;
            border-right: 0.1rem solid var.$color-darktext;
            border-bottom: 0.1rem solid var.$color-darktext;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}


