@use 'var';

@mixin base($bg-color: null, $text-color: null) {
    @if $bg-color{
        background-color: $bg-color;
    }
    @if $text-color{
        color: $text-color;
    }
    font: 400 0.9rem Arial;
    padding: 0.5rem 0.5rem;
    border-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

@mixin cart(){
    font: 400 1rem Arial;
    height: 3rem;
    margin: 1rem; 
    padding: 1rem;
    background-color: var.$color-green;
    border-bottom: 0.3rem solid var.$color-darkgreen;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    color: var.$color-panel;
    
    &:hover{
        background-color: var.$color-darkgreen;
    }
}