@use 'media';

@mixin container($element){
    #{$element} {
      width: 100vw;
      margin-left: auto;
      margin-right: auto;
    }

    @include media.minw-sel($element, sm){
        width: calc(1300px - 30vw);
    }
    @include media.minw-sel($element, md){
        width: calc(1500px - 30vw);
    }
    @include media.minw-sel($element, lg){
        width: 70vw;
    }
}

@mixin footerfix($element){
    #{$element} {
        flex: 1 0 auto;
    }
}
  