@use 'media';

@mixin container($element){
    #{$element} {
      width: 100vw;
      margin-left: auto;
      margin-right: auto;
    }

    @include media.sm-sel($element){
        width: calc(1300px - 30vw);
    }
    @include media.md-sel($element){
        width: calc(1500px - 30vw);
    }
    @include media.lg-sel($element){
        width: 70vw;
    }
}

@mixin footerfix($element){
    #{$element} {
        flex: 1 0 auto;
    }
}
  