@use 'var';
@use 'btn';
@use 'input';
@use 'container';
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.fas.fa-sign-in-alt, .fa.fa-user {
  padding: 0.5rem;
}


body {
  background-color: var.$color-bg;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  //font-family: 'Poppins', sans-serif;
}

a {
  padding: 0rem 1rem;
  text-decoration: none;
  color: var.$color-darktext;
  &:hover {
    color: var.$color-darkblue;
  }
}

li {
  list-style: none;
}

h1{
  margin: 1rem;
  text-align: center;
}

button{
  @include btn.base(var.$color-lightblue, var.$color-panel);
  @include btn.hover(var.$color-darkblue, var.$color-panel);
}

input{
  @include input.base();
}


@include container.container('.container');




// bootstrap
// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     max-width: 1140px;
//   }
// }
// @media (min-width: 1400px) {
//   .container {
//     max-width: 1320px;
//   }
// }

.row,
.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-center {
  align-items: center;
  height: 6rem;
}

.col-18per {
  text-align: left;
  flex: 18% 0 auto;
  padding: 2rem 1rem;
}

.col-28per {
  flex: 28% 0 auto;
  padding: 1rem 1rem;
}
