@use 'var';
@use 'btn';
@use 'input';
@use 'select';
@use 'container';
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
//avenirNext font

.fas.fa-sign-in-alt,
.fa.fa-user,
.fa.fa-handshake-o {
    padding: 0.5rem;
}

body {
    background-color: var.$color-bg;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    //font-family: 'Poppins', sans-serif;
}

a {
    padding: 0rem 1rem;
    text-decoration: none;
    color: var.$color-darktext;
    &:hover {
        color: var.$color-darkblue;
    }
}

li {
    list-style: none;
}

h1,
h2 {
    margin: 1rem;
    text-align: center;
}

hr {
    height: 1px;
    margin: 1rem 0rem;
    border-width: 0;
    border-style: none;
    background-color: var.$color-lightfill;
}

p {
    margin: 1rem;
}

button {
    @include btn.base(var.$color-lightblue, var.$color-panel);
    &:hover {
        background-color: var.$color-darkblue;
        color: var.$color-panel;
    }
}

input {
    @include input.base();
}

select {
    @include select.base();
    margin-left: 0.5rem;
    margin-right: 1rem;
}

textarea {
    padding: 0.5rem 1rem;
    line-height: 1.1rem;
    border: none;
    box-shadow: inset 1px 1px 5px 0px var.$color-greytext;
    border-radius: 3px;
    width: 100%;
    min-width: 7rem;
    min-height: 5rem;
    resize: none;
    outline: none;
    &:focus {
        outline: 1px solid var.$color-lightblue;
        outline-offset: -2px;
    }
}

@include container.container(".container");

.row,
.row-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-center {
    align-items: center;
    height: 6rem;
}

.col-18per {
    text-align: left;
    flex: 18% 0 auto;
    padding: 2rem 1rem;
}

.col-28per {
    flex: 28% 0 auto;
    padding: 1rem 1rem;
}

.col-sm-6{
    width:50%;
}

.text-danger{
    color: #DC3C3C;
    font-style: oblique;
    font-size: 0.9rem;
}

.has-error{
    background-color: #fff0f0;
    border-radius: 3px;
}

a.btn.btn-default, a.btn.btn-primary{
    @include btn.base();
    background-color: var.$color-lightblue;
    color: var.$color-panel;
    width: 10rem;
    height: 3rem;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: background-color 0.5s ease;
    &:hover{
        background-color: var.$color-darkblue;
    }
}

.form-group{
    margin: 0.5rem 0rem;
    label.control-label{
        display: inline-block;
        min-width: 8rem;
        text-overflow: ellipsis;
    }

    input[type=text], input[type=password]{
        width: calc(100% - 10rem);
        min-width: 8rem;
        font: 400 1rem Arial;
    }
}

input[type=submit]{
    @include btn.base();
    //font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    display: block;
    //width: 10rem;
    width: fit-content;
    background-color: var.$color-lightblue;
    color: var.$color-panel;
    transition: background-color 0.5s ease;
    &:hover{
        background-color: var.$color-darkblue;
    }
}


fieldset{
    border-style:solid;
    border-color: var.$color-lightfill;
    border-width: 1px 0 0 0;
    
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    width: 100%;
    
    
}

legend{
    padding: 0rem 1rem 0rem 0rem;
    color: var.$color-greytext;
    font-size:  0.8rem;
    font-style: oblique;
}

