@use 'var';

@mixin base(){
    padding-left: 1rem;
    padding-right: 0.5rem;
    height: 3rem;
    margin: 0.5rem 0rem 1rem 0rem;
    background-image: linear-gradient(to bottom, var.$color-panel, var.$color-lightfill);
    background-repeat: no-repeat;
    color: var.$color-greytext;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px 0px var.$color-lightblue;
  
    &:focus{
        font-size: 1.1rem;
    }


}