@use 'var';
@use 'media';
@use 'container';
@use 'panel';

@include container.container(".mnss");
@include container.footerfix(".mnss");

.mnss {
    height: 30rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;

    #menu {
        margin: 0rem;
        height: 100%;
        min-width: 14rem;
    }

    .lmrkt-swiper-viewport {
        position: relative;
        overflow: visible; // bullets
        margin: 0rem auto;
        width: calc(100% - 16rem);
        height: 24rem;
        min-width: 28rem;
        max-width: 41.4rem;
        z-index: 1;
        @include panel.bg(bottom-left-right);
    }

    #menu.open{
        & + .lmrkt-swiper-viewport{
            margin-left: 1rem;
        }
    }

    //#slideshow0{
    .swiper-container {
        position:relative;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        margin:auto;
        text-align:center;
        z-index: 2;
        direction: ltr; // why?

        // .swiper-wrapper {
        //     margin: auto auto;
        //     padding: 0;
        //     width: 100%;
        //     height: 100%;
    
        // }
        
        .swiper-slide img{
                height:100%;
        }
    }
    
    //////////////////////////////////////////todo all below

    .swiper-pagination {
        //position: absolute;
        width: 100%;
        bottom: -50px;
        left: 0;
        text-align: center;
    }
    .swiper-pagination-bullet {
        width: 0.8rem;
        height: 0.8rem;
        background-color: var.$color-panel;
        border-radius: 20px;
        box-shadow: inset 0px 0px 6px 0px var.$color-lightblue;
        margin: 0 5px;
        opacity: 1;
    }
    .swiper-pagination-bullet:hover {
        background-color: var.$color-darkblue;
    }
    .swiper-pagination-bullet-active {
        background-color: var.$color-lightblue;
    }


    ////// buttons
    .swiper-pager {
        position: absolute;
        width: 100%;
        top: 50%;
        line-height: 2.8rem;
        background-color: aquamarine;
    }

    .swiper-button-prev, .swiper-button-next {
    	//color: var.$color-lightblue;
    	//text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    	transition: all .3s ease;
    	z-index: 3;
     	background-image: none;
    }

    .swiper-button-prev {
        opacity: 1;
        left: 10px;
    }
    .swiper-button-next {
        opacity: 1;
        right: 10px;
    }

    .swiper-button-prev:before {
    	content: "\f053";
    	width: 2.5rem;
        height: 2.5rem;
    	color: var.$color-lightblue;
    	font-family: FontAwesome;
    	font-size: 2.5rem;
    }

    .swiper-button-next:before {
    	content: "\f054";
    	width: 2.5rem;
        height: 2.5rem;
    	color: var.$color-lightblue;
    	font-family: FontAwesome;
    	font-size: 2.5rem;
    }

    .swiper-button-prev:hover, .swiper-button-next:hover{
        &:before{
            color: var.$color-darkblue;
        }
    }

    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
        cursor: pointer;
        pointer-events: auto;
    }



    .ads{
        width: 14rem;
        height: 100%;
        display:none;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        right:0px;
        min-width:14rem;
        //padding: 0rem 1rem 0rem 1rem;
        margin-left: 1rem;

        img:nth-of-type(1){
            width: 100%;
            margin-top: 0rem;
        }
        img:nth-of-type(2){
            width: 100%;
            margin-bottom: 0rem;
        }
    }



    @include media.minw(sm){
        #menu{
            margin-left: 0.5rem;
        }
    }
    @include media.minw(md){
        padding-left: 0.5rem;
        padding-right: 0rem;
        #menu{
            margin-left: 0rem;
            margin-right: auto;
        }

        .ads{
            display: flex;
        }
    }
    @include media.minw(lg){
        
        padding-left: 0.5rem;
        padding-right: 0rem;
        #menu{
            margin-left: 0rem;
            margin-right: auto;
        }

        .ads{
            display: flex;
        }
    }


    @include media.minw(768px){

        .swiper-button-prev {
            opacity: 0;
            left: -20px;
        }

        .swiper-button-next {
            opacity: 0;
            right: -20px;
        }

        &:hover{
            .swiper-button-prev {
                opacity: 1;
                left: 10px;
            }
            .swiper-button-next {
                opacity: 1;
                right: 10px;
            }
        }
    }
}


