@use 'var';
@use 'media';

table{
    background-color: transparent;
    width: 100%;
    margin: 1rem 1rem;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0rem;
    
    tr{
        background-color: transparent;
    }
    
    td{
        background-color: var.$color-panel;
        box-shadow: 0px 0px 4px 0px var.$color-lightblue;
        font-weight: normal;
        padding: 1.5rem;
        text-align: center;
    
        span.table-phone{
            display: none;
        }
    }

    thead tr td{
        font-weight: bold;
    }

    input{
        width: 3rem;
        height: 2rem;
        margin: 0;
        padding: 0rem 0.5rem;
    }

}

@include media.xs(){
    table{
        thead, th {
            display:none;
        }

        tr{
            display: flex;
            flex-direction: column;
        }

        td{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: none;
            
            a{
                width: 100%;
                img{
                    
                    position:relative;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    
                }
            }
            
            span.table-phone{
                width: 7rem;
                min-width: 7rem;
                display: inline-block;
                font-weight: bold;
                text-align: right;
                &::after{
                    content: '\003A\0020';
                    padding-right: 1rem;
                }
            }

        
            &:last-child{
                margin-bottom: 3rem;
                border-bottom: 5px solid var.$color-lightblue;
            }
        }
    }
}
@include media.sm(){
    table{
        box-shadow: 0 0 4px 0 var.$color-lightblue;

        tr:last-child td{
            border-bottom: 5px solid var.$color-lightblue;
            
        }

        td{
            box-shadow: none;
        }
    }
}



#checkout-cart{
    table{
        td:nth-child(4){
            white-space: nowrap;
            overflow: visible;
        }
    }
}

@include media.xs(){
    #checkout-cart{
        table{
            td:first-child{
                margin-bottom: 0.5rem;
                box-shadow: 0 0 4px 0 var.$color-lightblue;
            }
        }
    }
}




table#table-cart-total{

    margin-bottom: 3rem;
    box-shadow: 0 0 4px 0 var.$color-lightblue;
    
    tr{
        flex-direction: row;
    }
    
    td{
        height: 4rem;
        margin: 0rem 0rem;
        box-shadow: none;
        border: none;
    }

    
    td:first-child{
        margin: 0;
        box-shadow: none;
        
    }
    
    td:last-child{
        box-shadow: none;
    }
    
    tr:last-child td{
        border-bottom: 5px solid var.$color-lightblue;
    }
}
