//colors:
$color-bg: #f6f6f6;
$color-lightfill: #eee;
$color-panel: white;
$color-lightblue: #93daf3;
$color-darkblue: #10b1e8;
$color-darktext: black;
$color-greytext: #aaa;
$color-greytext-darken: #888;
$color-green: #0AB02A;
$color-darkgreen: #068D20;


//z-index:
$z-modal: 22;