@use 'var';
@use 'media';


#checkout-checkout{
    
    .panel-group{
        margin-left: auto;
        margin-right: auto;
        
        @include media.xs{
            width: calc(100vw - 2rem);
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .row{
        //width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    textarea{
        max-width: 35rem;
    }

    .col-sm-6{
        width: 50%;
        margin: 0 auto;
        @include media.xs{
            min-width: 28rem;
        }
    }
 
    .buttons{
        margin: 1rem;
        a.agree{
            padding: 0;
        }
    }



    .form-group{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }




    label{
        //min-width: 10rem;
        text-align: right;
        padding: 0;
        margin: 0;
        flex-basis: 20%;
    }
    
    input, select{
        //width: calc(100% - 7rem);
        max-width: 35rem;
        margin-right: 1rem;
        margin-left: 1rem;
        flex-basis: 64%;
    }
    
    input[type="checkbox"], input[type="radio"]{
        width: 1.5rem;
        height: 1.5rem;
        top: calc(1.5rem * 0.25);
    }

    input[type=submit]{
        width:fit-content;
    }

    div.checkbox{
        text-align: center;
    }


    .text-danger{
        position:relative;
        top: -0.4rem;
        flex-basis: 100%;
        text-align: right;
        line-height: 1rem;
        margin-right: 1rem;
        font-size: 0.9rem;
    }

}