@use 'var';

fieldset{
    border-style:solid;
    border-color: var.$color-lightfill;
    border-width: 1px 0 0 0;
    
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    width: 100%;
    
    
}

legend{
    padding: 0rem 1rem 0rem 0rem;
    color: var.$color-greytext;
    font-size:  0.8rem;
    font-style: oblique;
}



#checkout-checkout{
    
    #content .panel-group .panel:first-child {
        display:none;
    }
    
    #button-guest, 
    #button-guest-shipping,
    #button-shipping-method,
    #button-payment-method{
        display: none;
    }




    .panel-body .row{
        display:flex;
        flex-direction: column;
    }





    .form-group{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }


    table{
        margin-left: 0rem;
    }
    
    input[type=submit]{
        width: 20rem;
        margin-left: 0;
        padding: 1rem;
        background-color: var.$color-green;
        border-bottom: 0.3rem solid var.$color-darkgreen;
        text-transform: uppercase;
        font-weight: bold;
        outline: none;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.5s ease;
        color: var.$color-panel;
        
        &:hover{
            background-color: var.$color-darkgreen;
        }
    }

    label{
        width: 10rem;
        text-align: right;
        padding: 0;
        margin: 0;
        
    }
    
    input, select{
        width: calc(100% - 7rem);
        max-width: 35rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
    input[type=button].btn.btn-primary{
        width: 12rem;
    }

    input[type="checkbox"], input[type="radio"]{
        width: 1.5rem;
        height: 1.5rem;
        top: calc(1.5rem * 0.25);
    }

    .col-sm-6{
        margin: 0;
    }
    
    .col-sm-10{
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0;
        width: calc(100% - 7rem);
        max-width: 35rem;

        input, select{
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }

}