@use 'var';
@use 'panel';
@use 'swiperopencart';
@use 'media';

#menu {
    width: 14rem;
    height: 30rem;
	min-height: 8rem;
    margin: 2rem 2rem 20rem 1.4rem;
    @include panel.bg(bottom-right);
	background-image: linear-gradient(to bottom, var.$color-panel, var.$color-lightfill);
    background-repeat: repeat-x;
    display: none;
    &.open{
        display:block;
    }


    .nav{
        padding: 1rem;
        > li {
            margin-bottom: 0.5rem;
            border-bottom: 1px solid var.$color-lightfill;
            transition: border-bottom 0.5s ease-in;
            &:hover, &.open{
                border-bottom: 1px solid var.$color-darkblue;
                > a {
                    color: var.$color-darkblue;
                }
            }

            &:hover{
                border-bottom: 1px solid var.$color-darkblue;
            }
        }
    }


    .dropdown-menu {
        padding-bottom: 0;
        margin-top: 0.2rem;
    }

    .dropdown-inner {
        display: table;
        ul {
            display: table-cell;
        }
        a {
            min-width: 10rem;
            display: block;
            padding: 0.2rem 1rem;
            clear: both;
            line-height: 1rem;
        }
    }

    .see-all {
        display: block;
        margin-top: 0.5rem;
        border-top: 1px solid #DDD;
        padding: 0.2rem 1rem;
        -webkit-border-radius: 0 0 0.25rem 0.25rem;
        -moz-border-radius: 0 0 0.25rem 0.25rem;
        border-radius: 0 0 0.2rem 0.2rem;
        font-size: smaller;
        font-style: oblique;
        color: var.$color-greytext;

        &:hover, &:focus {
            text-decoration: none;
            color: var.$color-darkblue;
            background-color: var.$color-panel;
            background-image: linear-gradient(to bottom, var.$color-panel, var.$color-lightfill);
            background-repeat: repeat-x;
        }
    }

    #category {
        display: none;
    }
}

@include media.minw(768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@include media.maxw(767px) {
	#menu {
        
        div.dropdown-inner > ul.list-unstyled {
            display: block;
        }
        div.dropdown-menu {
            margin-left: 0 !important;
            padding-bottom: 0.6rem;
            background-color: rgba(0, 0, 0, 0.1);
        }
        .dropdown-inner {
            display: block;

            a {
                width: 100%;
            }
        }

        .dropdown-menu a:hover,
        .dropdown-menu ul li a:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        .see-all {
            margin-top: 0;
            border: none;
            border-radius: 0;
        }
	}
}
@include media.md() {
	#menu {
		margin-left: 0.4rem;
	}
}

