@use 'var';
@use 'thumbnail';
@use 'btn';
@use 'panel';

#product-product{
    .row{
        flex-wrap: wrap;
    }


    h1{
        font-size: 1.7rem;
    }

    h2{
        text-align: left;
    }

    .tax-style{
        width: 12rem;
        padding-left: 1rem;
        color: var.$color-greytext;

        font-style: oblique;
    }

    .form-group{

        display:inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        height: 3rem;
        margin-top: 1rem;
        padding: 0 0rem;
        
        label{
            margin-left: 1rem;
            margin-right: 1rem;
        }
        
        #input-quantity{
            width: 5rem;
        }
        
        #button-cart{
            @include btn.cart();
            margin: 0 1rem;
        }
        
    }
    
    .btn-group{
        height: 3rem;
        display:inline-block;
        button{
            margin: 0.5rem;
        }
    }

    .list-unstyled li{
        margin: 0.3rem 1rem;
    }

    .nav.nav-tabs{
        margin-top: 1rem;
        margin-bottom: 0;
        li{
            position: relative;
            background-color: var.$color-panel;
            border-width: 5px 0px 0px 0px;
            border-style: solid;
            border-color: var.$color-lightblue;
            padding: 1rem;
            display: inline-block;
            z-index: 1;
            box-shadow: 0px 0px 4px 0px var.$color-lightblue;

            &.active{
                //border-bottom-color: var.$color-panel;
                box-shadow: 0px -2px 2px 0px var.$color-lightblue;
                height: 4rem;
                z-index: 3;
            }
        }
    }

    .tab-content{
        @include panel.bg();
        z-index: 2;
        width: 100vw;
        max-width: 40rem;
        margin: 0 1rem 2rem 1rem;
        
    }
    
    .tab-pane{
        margin: 1rem auto;
        width: 30rem;
        min-width: 30rem;
        min-height: 20rem;
        display: none;
        &.active{
            display: block;
        }
    }



}

#form-review{
    width: 100%;
    .form-group{
        width: 100%;
    }

    label.control-label{
        width: 8rem;
        margin: 1rem;
    }

    input.form-control{
        width: calc(100% - 10rem);
    }


    .form-group:nth-of-type(3){
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        label.control-label
        {
            display: block;
        }
        textarea{
            display:block;
            width: 100% !important;
            margin-left: 1rem;
        }

        .help-block{
            margin: 0.2rem 1rem;
            font-size: 0.8rem;
            font-style: oblique;
            color: var.$color-greytext;
        }
    }

    #button-review{
        height: 3rem;
        padding: 1rem;
    }
    
}